[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.7.4.post0"
psycopg2-binary = "==2.8.6"
alembic = "==1.6.2"
dramatiq = "==1.11.0"
SQLAlchemy = "==1.4.15"
jinja2 = "==3.0.1"

[dev-packages]
flake8 = "*"
mypy = "*"
wemake-python-styleguide = "*"

[requires]
python_version = "3.8"
